@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular_gdi.eot');
	src: url('../fonts/ProximaNova-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular_gdi.woff') format('woff'),
		url('../fonts/ProximaNova-Regular_gdi.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular_gdi.svg#ProximaNova-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold_gdi.eot');
	src: url('../fonts/ProximaNova-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold_gdi.woff') format('woff'),
		url('../fonts/ProximaNova-Bold_gdi.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold_gdi.svg#ProximaNova-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'Proxima Nova';
	src: url('../fonts/ProximaNova-Light_gdi.eot');
	src: url('../fonts/ProximaNova-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light_gdi.woff') format('woff'),
		url('../fonts/ProximaNova-Light_gdi.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light_gdi.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

* {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
}
li {
	list-style: none outside none;
}
html, body {
	border: 0 none;
}
html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 14px;
	color: #191919;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Proxima Nova', sans-serif;
	background: #ffffff;
}

input {
	-webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body.prevent-scroll {
	overflow: hidden;
}
body.prevent-scroll .page-wrapper {

}
a {
	text-decoration: none;
}

::selection {
	background: rgba(253, 184, 19, 0.7);
}
::-moz-selection {
	background: rgba(253, 184, 19, 0.7);
}


.page-wrapper {
	position: relative;
	overflow: hidden;
	min-width: 320px;
}

.show320 {
	display: block !important;
}
.show640 {
	display: none !important;
}
.show320.show640 {
	display: block !important;
}
.show1000 {
	display: none !important;
}
.show640.show1000 {
	display: none !important;
}
span.show320 {
	display: inline !important;
}
span.show640 {
	display: none !important;
}
span.show320.show640 {
	display: inline !important;
}
span.show1000 {
	display: none !important;
}
span.show640.show1000 {
	display: none !important;
}
@media screen and (min-width: 640px) {
	.show320 {
		display: none !important;
	}
	.show320.show640 {
		display: block !important;
	}
	.show640 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320 {
		display: none !important;
	}
	span.show320.show640 {
		display: inline !important;
	}
	span.show640 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
@media screen and (min-width: 1000px) {
	.show320.show640 {
		display: none !important;
	}
	.show640 {
		display: none !important;
	}
	.show1000 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320.show640 {
		display: none !important;
	}
	span.show640 {
		display: none !important;
	}
	span.show1000 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}

header {
	position: fixed;
	width: 100%;
	height: 76px;
	background: #ffffff;
	color: #0c0c0c;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	z-index: 100;
	min-width: 320px;
	transform: translateZ(0px);
}
header .logo {
	display: block;
	width: 76px;
	height: 76px;
	background: url(../images/logo.svg);
	background-size: 100%;
}
header nav {
	display: none;
}
header .cart {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75px;
	height: 100%;
	color: #0c0c0c;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
}
header .cart .tx {
	position: relative;
	top: 28px;
}
header .phone {
	position: absolute;
	right: 30px;
	top: 40px;
	font-size: 18px;
	font-weight: 600;
	color: #0c0c0c;
	transition: all 0.3s;
	display: none;
}
header .phone:hover {
	color: #fdb813;
	transition: all 0.15s;
}
header .callback {
	display: none;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	cursor: pointer;
}
header .menu-btn {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 15px;
/*	left: 95px;*/
	left: 0px;
	right: 0px;
	margin: auto;
	transform: translateZ(0px);
}
header .menu-btn .inner {
	width: 25px;
	height: 23px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	overflow: hidden;
}
header .menu-btn .b {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #0c0c0c;
}
header .menu-btn .b1 {
	top: 2px;
	transition: all 0.2s;
}
header .menu-btn .b2 {
	top: 10px;
	transition: all 0.4s;
}
header .menu-btn .b3 {
	top: 18px;
	transition: all 0.2s;
}
header .menu-btn.active .b1 {
	transform: translateY(8px) rotate(45deg);
}
header .menu-btn.active .b2 {
	transform: translateX(30px);
}
header .menu-btn.active .b3 {
	transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 640px) {
	header {
		min-width: 0px;
		height: 100px;
	}
	header .cart {
		width: 100px;
	}
	header .cart .tx {
		top: 40px;
	}
	header .menu-btn {
		top: 27px;
		/*left: 127px;*/
		left: 0;
	}
	header .logo {
		width: 100px;
		height: 100px;
	}
	header .phone {

	}
}
@media screen and (min-width: 1000px) {
	header .menu-btn {
		display: none;
	}
	header {
		position: fixed;
		width: 250px;
		height: 100%;
		left: 0;
		top: 0;
		text-align: center;
		min-height: 645px;
	}
	header .logo {
		margin: 45px auto 32px;
	}
	header nav {
		display: block;
	}
	header .cart {
		bottom: 0px;
		right: 0;
		top: auto;
		margin: 0;
		width: 100%;
		height: 55px;
		display: block;
		font-size: 12px;
	}
	header .cart .tx {
		position: relative;
		top: 20px;
		padding-left: 30px;
	}
	header .phone {
		bottom: 125px;
		right: 0;
		width: 100%;
		top: auto;
		margin: 0px;
		font-size: 20px;
		display: block;
	}
	header .callback {
		position: absolute;
		width: 100%;
		bottom: 90px;
		display: block;
		margin: 0;
		text-align: center;
	}
}

nav {
	text-align: center;
	margin-bottom: 90px;
}
nav .item {
	position: relative;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #0c0c0c;
	font-size: 18px;
	font-weight: 300;
}
nav .item.active:before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 8px;
	height: 20px;
	background: #fdb813;
}

main {
	padding-top: 75px;
	padding-bottom: 60px;
	overflow: hidden;
}
main {
	margin-left: 0px;
}
.contacts-page main {
	margin-bottom: 0px;
}
@media screen and (min-width: 640px) {
	main {
		margin-bottom: 0px;
		padding-top: 100px;
	}
}
@media screen and (min-width: 1000px) {
	main {
		padding-top: 0px;
	}
	main {
		margin-left: 250px;
	}
}
main.main-grey {
	background: #f2f2f2;
}

.mobile-menu-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	background: #000000;
	transition: width 0s linear 0.3s, opacity 0.3s ease 0s;
}
.mobile-menu-overlay.active {
	width: 100%;
	opacity: 0.1;
	transition: width 0s linear 0s, opacity 0.3s ease 0s;
}
.mobile-menu {
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	height: 100%;
	width: 250px;
	background: #ffffff;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	transform: translateX(-250px);
	-webkit-user-drag: none;
	will-change: transform;
}
.mobile-menu nav {
	margin-top: 76px;
	margin-bottom: 50px;
}
.mobile-menu .nav-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: table;
}
.mobile-menu .nav-cell {
	display: table-cell;
	vertical-align: middle;
}
.mobile-menu .phone {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #0c0c0c;
	transition: all 0.3s;
	margin-bottom: 20px;
}
.mobile-menu .phone:hover {
	color: #fdb813;
	transition: all 0.2s;
}
.mobile-menu .callback {
	display: block;
	text-align: center;
}
@media screen and (min-width: 640px) {
	.mobile-menu nav {
		margin-top: 100px;
	}
}
@media screen and (min-width: 1000px) {
	.mobile-menu {
		display: none;
	}
}

main {
	position: relative;
	will-change: transform;
}
.lines-bg {
	position: absolute;
	height: 100%;
	left: 30px;
	right: 30px;
	top: 0;
	max-width: 1000px;
	margin: 0 auto;
}
.contacts-page .lines-bg {
	display: none;
}
.lines-bg .l {
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
	background: #ededed;
}
.lines-bg .l1 {
	left: 10.87%;
}
.lines-bg .l2 {
	left: 36.95%;
}
.lines-bg .l3 {
	right: 36.95%;
}
.lines-bg .l4 {
	right: 10.87%;
}
main section {
	position: relative;
	z-index: 2;
}
.wrapper {
	position: relative;
	width: calc(100% - 30px);
	margin: 0 auto;
	max-width: 1000px
}
@media screen and (min-width: 640px) {
	.wrapper {
		width: calc(100% - 60px);
	}
}
@media screen and (min-width: 1000px) {

	header nav {
		display: block;
	}
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	text-align: center;
	color: #0c0c0c;
	margin-bottom: 32px;
}

@media screen and (min-width: 640px) {
	h1 {
		font-size: 40px;
	}
}
h2 {
	font-weight: bold;
	font-size: 36px;
	text-transform: none;
	color: #0c0c0c;
	margin-bottom: 70px;
	text-align: center;
}
h3 {
	font-weight: 300;
	font-size: 30px;
	text-transform: none;
	color: #0c0c0c;
	margin-bottom: 35px;
	text-align: center;
}
h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #0c0c0c;
	margin-bottom: 10px;
}
h5 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
h6 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	color: #0c0c0c;
}


.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
	color: #ffffff;
}

/*.csstransitions h1.triggerable,
.csstransitions h2.triggerable {
	transition: all 0.6s;
	opacity: 0;
	transform: translateY(-20px);
}
.csstransitions h1.triggerable.triggered-once,
.csstransitions h2.triggerable.triggered-once {
	opacity: 1;
	transform: translateY(0px);
}*/

p {
	line-height: 1.5;
	margin-right: 10%;
	margin-bottom: 10px;
}
p a {
	color: #191919;
	border-bottom: 1px solid #7f7f7f;
	transition: all 0.2s;
}
p a:hover {
	color: #fdb813;
	border-bottom: 1px solid transparent;
}
.dark p {
	color: #ffffff;
}

.ico-link {
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
	color: #0c0c0c;
	letter-spacing: 0.05em;
	padding-left: 40px;
	cursor: pointer;
}
.ico-link.a-d {
	padding-left: 25px;
}
.dark .ico-link {
	color: #ffffff;
}
.ico-link .tx {
	display: inline-block;
	position: relative;
	transform: rotate(0deg);
}
.ico-link .tx .a {
	position: absolute;
	left: 0;
	top: 0;
	color: #fdb813;
	background: #ffffff;
	overflow: hidden;
}
.grey .ico-link .tx .a {
	background: #f2f2f2;
}
.ico-link .tx span {
	white-space: nowrap;
}
.ico-link .tx .a {
	width: 0;
	transition: width 0.3s;
}
.ico-link:hover .tx .a,
a:hover .ico-link .tx .a,
.view-popup-toggle:hover .ico-link .tx .a  {
	width: 100%;
	transition: width 0.4s ease 0.2s;
}
.home .ico-link:hover .tx .a,
a:hover .home .ico-link .tx .a,
.view-popup-toggle:hover .home .ico-link .tx .a {
	width: 0%;
}
.ico-link .arrow {
	position: absolute;
	left: 0;
	top: 1px;
	width: 22px;
	height: 11px;
	overflow: hidden;
	transform: translateZ(0px);
}
.ico-link.a-d .arrow {
	transform: rotate(90deg) translateZ(0px);
	width: 12px;
}
.ico-link.a-d.active .arrow {
	transform: rotate(-90deg) translateZ(0px);
}
.ico-link .arrow:before,
.ico-link .arrow:after {
	content: "";
	position: absolute;
	width: 22px;
	height: 11px;
	left: 0;
	top: 0;
	transition: transform 0.3s;
}
.ico-link.a-d .arrow:after,
.ico-link.a-d .arrow:before {
	right: 0;
	left: auto;
}
.ico-link .arrow:before {
	background: url(../images/right-yellow.svg) no-repeat;
	background-size: 100%;
}
.ico-link .arrow:after {
	transform: translateX(-60px);
	background: url(../images/right.svg) no-repeat;
	background-size: 100%;
}
.ico-link.a-l .arrow:before {
	background: url(../images/left-yellow.svg) no-repeat;
	background-size: 100%;
}
.ico-link.a-l .arrow:after {
	background: url(../images/left.svg) no-repeat;
	background-size: 100%;
}
.dark .ico-link .arrow:after {
	background: url(../images/right-white.svg) no-repeat;
	background-size: 100%;
}
.ico-link:hover .arrow:before,
a:hover .ico-link .arrow:before,
.view-popup-toggle:hover .ico-link .arrow:before {
	transform: translateX(60px);
}
.ico-link:hover .arrow:after,
a:hover .ico-link .arrow:after,
.view-popup-toggle:hover .ico-link .arrow:after {
	transform: translateX(0px);
}
.ico-link .ico {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	transform: translateZ(0px);
}
.ico-link .ico:before,
.ico-link .ico:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: transform 0.3s;
}
.ico-link .ico:after {
	transform: translateX(-30px);
}
.ico-link:hover .ico:before,
a:hover .ico-link .ico:before,
.view-popup-toggle:hover .ico-link .ico:before {
	transform: translateX(30px);
}
.ico-link:hover .ico:after,
a:hover .ico-link .ico:after,
.view-popup-toggle:hover .ico-link .ico:after {
	transform: translateX(0px);
}
.ico-link.call,
.ico-link.print,
.ico-link.download {
	padding-left: 30px;
}
.ico-link.call .ico {
	width: 14px;
	height: 14px;
}
.ico-link.call .ico:before {
	background: url(../images/call-yellow.svg) no-repeat;
}
.ico-link.call .ico:after {
	background: url(../images/call-black.svg) no-repeat;
}
.ico-link.print .ico {
	width: 16px;
	height: 14px;
}
.ico-link.print .ico:before {
	background: url(../images/print-yellow.svg) no-repeat;
}
.ico-link.print .ico:after {
	background: url(../images/print-black.svg) no-repeat;
}
.ico-link.download .ico {
	left: 5px;
	top: 2px;
	width: 14px;
	height: 11px;
	transform: rotate(90deg);
}
.ico-link.download .ico:before {
	background: url(../images/download-yellow.svg) no-repeat;
}
.ico-link.download .ico:after {
	background: url(../images/download-black.svg) no-repeat;
}
.dark .ico-link.download .ico:after {
	background: url(../images/download-white.svg) no-repeat;
}


.clear {
	clear: both;
}
.home {
	margin-bottom: 0px;
	background: #ffffff
}
section h2 {
	text-align: center;
	margin-bottom: 45px;
}
.home h2 {
	font-family: 'Roboto Slab' sans-serif;
	font-size: 40px;
	text-align: center;
	margin-bottom: 35px;
}
.home .slider-outer {
	position: relative;
	min-height: 0px;
}
.home .slider .img:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #191919;
	opacity: 0.7;
}
.home .slider {
	position: relative;
	width: 100%;
	height: 100%;
	height: 500px;
}
.home .slider .slide {
	min-height: 0px;
	height: 500px;
	text-align: center;
}
.home .slider .wrapper {
	height: 100%;
	position: relative;
	z-index: 2;
}
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 1000px) {
	.home .slider,
	.home .slider .slide {
		height: 600px;
	}
	.home {
		margin-bottom: 30px;
	}
}

.masked-slider .slide {
	transform: translateZ(0px);
}
.masked-slider .img-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	backface-visibility: hidden;
}
.masked-slider .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000000;
	z-index: 1;
	opacity: 0;
}
.masked-slider .img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
}

.slider-outer {
	overflow: hidden;
}
.slider {
	overflow: hidden;
}


.home .text {
	padding-top: 100px;
	width: 100%;
	max-width: 550px;
	margin: 0 auto;
}
.home .nfo {
	margin-bottom: 40px;
}
.home .nfo p {
	margin-right: 0;
	font-size: 20px;
	font-weight: 300;
}
@media screen and (min-width: 640px) {
	.home .text {
		padding-top: 150px;
	}
	.home .nfo {
	}
}
@media screen and (min-width: 1000px) {
	.home .text {
		padding-top: 210px;
	}
}

.masked-slider {
	position: relative;
	z-index: 0;
}
.masked-slider .slide {
	position: absolute;
	float: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.masked-slider {
	opacity: 0;
	background: #2B2B2B;
}
.slider-outer .progressbar {
	position: relative;
	width: 100%;
	height: 5px;
	background: #ebebeb;
}
.slider-outer .progressbar .active {
	position: absolute;
	left: 0;
	top: 0;
	height: 5px;
	width: 0;
	background: #fdb813;
}
.masked-slider.initialized {
	transition: opacity 0.3s;
	opacity: 1;
}
.masked-slider .slide:first-child {
	z-index: 1;
}
.masked-slider .img-wrap {
	transition: all 0.6s;
}
.masked-slider .img-wrap .img {
	transition: all 0.6s;
}
.masked-slider .slide .text {
	transition: all 0.7s;
}
.masked-slider .slide .overlay {
	transition: all 0.6s;
}
.masked-slider .slide.to-left .text {
	opacity: 0;
	transform: translateX(-500px);
}
.masked-slider .slide.to-right .text {
	opacity: 0;
	transform: translateX(500px);
}
.masked-slider .slide.to-center .text {
	opacity: 1;
	transform: translateX(0px);
}
.masked-slider .slide.to-left .overlay {
	opacity: 0.5;
}
.masked-slider .slide.to-right .overlay {
	opacity: 0.5;
}
.masked-slider .slide.to-center .overlay {
	opacity: 0;
}
.masked-slider .slide.moving .overlay {
	opacity: 0.2;
}
.masked-slider .slide.lower-moving .overlay {
	opacity: 0.3;
}
.masked-slider .slide.lower-moving .text {
	opacity: 0.5;
}

.slider-outer .slider-arrow {
	position: absolute;
	display: none;
	width: 30%;
	height: 100%;
	top: 0;
	z-index: 3;
	cursor: pointer;
}
.slider-outer .slider-arrow.prev {
	left: 0;
}
.slider-outer .slider-arrow.next {
	right: 0;
}
@media screen and (min-width: 640px) {
	.slider-outer .slider-arrow {
		display: block;
	}
}
.slider-arrow svg {
	position: absolute;
	margin: auto;
	width: 16px;
	height: 25px;
	top: 0;
	bottom: 0;
}
.slider-arrow svg {
	fill: #ffffff;
	opacity: 0;
}
.slider-arrow.prev svg {
	left: 20px;
}
.slider-arrow.next svg {
	right: 20px;
}
.slider-arrows .arrow.next {
	top: 0;
	right: 0;
}
.slider-arrow svg {
	transition: all 0.3s;
}
.slider-outer:hover .slider-arrow svg {
	opacity: 0.5;
}
.slider-outer:hover .slider-arrow:hover svg {
	opacity: 1;
}
.slider-arrow.prev:hover svg {
	transform: translateX(5px);
}
.slider-arrow.next:hover svg {
	transform: translateX(-5px);
}

.slider-controls {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 39px;
	width: 100%;
	height: 15px;
	text-align: center;
}
.slider-controls .slider-controls-inner {
	display: inline-block;
}
.slider-controls .item {
	position: relative;
	width: 15px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
}
.slider-controls .item.active {
	cursor: default;
}
.slider-controls .item:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0.5;
	background: #ffffff;
	transition: opacity 0.2s;
}
.slider-controls .item.active:before,
.slider-controls .item:hover:before {
	opacity: 1;
}



.container {
	margin-left: -30px;
}

.container.cont-4 .item {
	float: left;
	padding-left: 30px;
	width: 50%;
	margin-bottom: 40px;
	box-sizing: border-box;
}
@media screen and (min-width: 640px) {
	.container.cont-4 .item {
		width: 25%;
	}
}
.container.cont-2 .item {
	padding-left: 30px;
	width: 100%;
	margin-bottom: 40px;
	box-sizing: border-box;
}
@media screen and (min-width: 640px) {
	.container.cont-2 .item {
		width: 50%;
		float: left;
	}
}
.flexbox .container.cont-4.center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center ;
}
.flexbox .container.cont-4.center .item {
	float: none;

}


.production {
	padding-top: 70px;
}
.production .container {
	margin-bottom: 15px;
}
.production .item .img {
	margin-bottom: 17px;
}
.production .item img {
	display: block;
	width: 100%;
}
.production .item h6 {
	position: relative;
	z-index: 1;
}

@media screen and (min-width: 640px) {
	.production {
		margin-bottom: 15px;
	}
}
.catalog-appear.item .inner .img-zoom {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	transform: translateZ(0px);
}
.catalog-appear.item .inner:hover .img-zoom {
	transition: all 1.5s ease;
	transform: scale(1.05);
}
.backgroundblendmode .catalog-appear.item .bg-y,
.backgroundblendmode .catalog-appear.item .bg-w {
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	background: #ffffff;
	z-index: 0;
	transition: width 0.3s;
}
.backgroundblendmode .catalog-appear.item .bg-w {
	background: #ffffff;
}
.backgroundblendmode .catalog-appear.item .nm {
	isolation: isolate;
}
.backgroundblendmode .catalog-appear.item h6 {
}
.backgroundblendmode .catalog-appear.item .bg-y {
	background: #fdb813;
	z-index: 2;
	mix-blend-mode: screen;
}
.backgroundblendmode .catalog-appear.item .inner:hover .bg-y,
.backgroundblendmode .catalog-appear.item .inner:hover .bg-w {
	transition: all 0.7s ease 0.2s;
	width: 100%;
}
.backgroundblendmode .grey .catalog-appear.item .bg-y,
.backgroundblendmode .grey .catalog-appear.item .bg-w {
	display: none;
}
.no-backgroundblendmode .catalog-appear.item .inner:hover .bg-y,
.no-backgroundblendmode .catalog-appear.item .inner:hover .bg-w {
	display: none;
}
.no-backgroundblendmode .catalog-appear.item h6,
.backgroundblendmode .grey .catalog-appear.item h6 {
	transition: all 0.3s;
}
.no-backgroundblendmode .catalog-appear.item .inner:hover h6,
.backgroundblendmode .grey .catalog-appear.item .inner:hover h6 {
	color: #fdb813;
}


.ico-link-container {
	text-align: center;
}

.projects {
	padding-top: 70px;
}
.projects .container {
	margin-bottom: 15px;
}
.projects .item .img,
.actions .item .img {
	margin-bottom: 18px;
}
.projects .item img,
.actions .item img {
	display: block;
	width: 100%;
}
.projects .item .price {
	font-size: 16px;
	color: #191919;
}
.projects .item .nfo {
	color: #808080;
}
.projects .item .text {
	line-height: 1.5;
}
.projects .item .nm,
.action .item .nm {
	position: relative;
	margin-bottom: 10px;
}
.projects .item h6,
.action .item h6 {
	position: relative;
	z-index: 1;
}
@media screen and (min-width: 640px) {
	.projects {
		margin-bottom: 15px;
	}
}
.catalog-appear.item .img {
	position: relative;
	overflow: hidden;
}
.catalog-appear.item .img-hide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.catalog-appear.item .img:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #f2f2f2;
}
.catalog-appear.item .img-true {
	position: absolute;
	height: 100%;
	width: auto;
	left: 0;
	top: 0;
	z-index: 1;
}
.catalog-appear.item .img {
	transform: translateZ(0px);
}
.csstransitions .catalog-appear.item .img:before {
	transform: translateX(-100%);
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99);
}
.csstransitions .catalog-appear.item.triggered-once .img:before {
	transform: translateX(0);
}
.csstransitions .catalog-appear.item .img-hide {
	width: 0;
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0.45s;
}
.csstransitions .catalog-appear.item.triggered-once .img-hide {
	width: 100%;
}
.csstransitions .catalog-appear.item .img-true {
	transform: translateX(-30%)	translateZ(0px);;
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0.45s;
}
.csstransitions .catalog-appear.item.triggered-once .img-true {
	transform: translateX(0%) translateZ(0px);;
}
.csstransitions .catalog-appear.item .text {
	overflow: hidden;
}
.csstransitions .catalog-appear.item .text .text-inner {
	transform: translateX(-100%);
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0.45s;
}
.csstransitions .catalog-appear.item.triggered-once .text .text-inner {
	transform: translateX(0);
}
/*.projects .item h5 {
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0.7s;
	transform: translateX(-100%);
}
.projects .item.triggered-once h5 {
	transform: translateX(0%);
}
.projects .item .nfo {
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0.9s;
	transform: translateX(-100%);
}
.projects .item.triggered-once .nfo {
	transform: translateX(0%);
}*/

.actions {
	padding-top: 30px
}
.actions .nm {
	position: relative;
}
.actions h6 {
	margin-bottom: 10px;
}
.actions h6 {
	position: relative;
	z-index: 1;
}
.actions .nfo {
	font-size: 16px;
	color: #191919;
	line-height: 1.5;
	margin-bottom: 5px;
}
.actions .expires {
	color: #7f7f7f;
}

.features {
	margin-top: 65px;
	padding-top: 75px;
	text-align: center;
	background: #f2f2f2;
	overflow: hidden;
}
.features .container .item {
	position: relative;
	margin-bottom: 30px;
}
.features .item .text {
	margin-left: 0px;
}
.features .ico {
	position: static;
	margin: 0 auto 20px;
	width: 48px;
}
@media screen and (min-width: 640px) {
	.features {
		text-align: left;
	}
	.features .container .item {
		margin-bottom: 75px;
	}
	.features .item .text {
		margin-left: 75px;
	}
	.features .ico {
		position: absolute;
		left: 30px;
		top: 0;
		width: 48px;
	}
}
.features .ico.i1 {
	height: 48px;
	background: url(../images/features-i1.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
.features .ico.i2 {
	height: 50px;
	background: url(../images/features-i2.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
.features .ico.i3 {
	height: 47px;
	background: url(../images/features-i3.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
.features .ico.i4 {
	height: 48px;
	background: url(../images/features-i4.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
.features .ico.i5 {
	height: 50px;
	background: url(../images/features-i5.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
.features .ico.i6 {
	height: 38px;
	background: url(../images/features-i6.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
.features .text {
	color: #7f7f7f;
}
.features p {
	margin-right: 0;
	line-height: 1.75;
}
.features p a {
	color: #7f7f7f; 
	border-bottom: 1px solid #8e8e8e;
}
.features p a:hover {
	color: #fdb813;
	border-bottom: 1px solid transparent;
}
@media screen and (min-width: 640px) {
	.features .item {
		width: 50%;
		float: left;
		margin-bottom: 40px;
	}
}

.csstransitions .list-appear.item .ico {
	opacity: 0;
	transition: all 0.6s ease;
	transform: translateX(-30px);
}
.csstransitions .list-appear.item.triggered-once .ico {
	opacity: 1;
	transform: translateX(0px);
}
.csstransitions .list-appear.item .text {
	overflow: hidden;
}
.csstransitions .list-appear.item h4 {
	transform: translateX(-100%);
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0s;
}
.csstransitions .list-appear.item .descr {
	transform: translateX(-100%);
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0.45s;
}
.csstransitions .list-appear.item.triggered-once h4 {
	transform: translateX(0px);
}
.csstransitions .list-appear.item.triggered-once .descr {
	transform: translateX(0px);
}

.masked-link {
	display: inline-block;
	position: relative;
	transform: rotate(0deg);
}
.masked-link .a {
	left: 0;
	top: 0;
	position: absolute;
	background: #ffffff;
	white-space: nowrap;
	width: 0;
	color: #fdb813;
	overflow: hidden;
	transition: width 0.5s;
}
.masked-link:hover .a,
a:hover .masked-link .a {
	width: 100%;
	transition: width 0.2s;
}

.bg-link {
	position: relative;
}
.bg-link span {
	position: relative;
	z-index: 1;
}
.bg-link:before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	background: #fdb813;
	transition: all 0.5s;
}
.bg-link.bg-grey {
	background: #f2f2f2;
}
@media screen and (min-width: 1000px) {

}
.bg-link:hover:before,
.bg-link.active:before {
	transition: all 0.3s ease 0.1s;
	width: 100%;
}
.bg-link .tx {
	position: relative;
	padding-left: 30px;
}
.bg-link .ico {
	position: absolute;
	left: 0;
	top: 1px;
	overflow: hidden;
}
.bg-link .ico:after {
	transform: translateX(-30px);
}
.bg-link:hover .ico:before,
.bg-link.active .ico:before {
	transform: translateX(30px);
}
.bg-link:hover .ico:after,
.bg-link.active .ico:after {
	transform: translateX(0px);
}
.bg-link .ico:before,
.bg-link .ico:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.3s;
}
.bg-link .ico.i-cart {
	width: 20px;
	height: 18px;
}
.bg-link .ico.i-cart:before,
.bg-link .ico.i-cart:after {
	width: 20px;
	height: 18px;
}
.bg-link .ico.i-cart:before {
	background: url(../images/cart.svg) no-repeat;
}
.bg-link .ico.i-cart:after {
	background: url(../images/cart-white.svg) no-repeat;
}
@media screen and (min-width: 1000px) {
	.bg-link .ico.i-cart {
		width: 15px;
		height: 13px;
	}
	.bg-link .ico.i-cart:before,
	.bg-link .ico.i-cart:after {
		width: 15px;
		height: 13px;
	}
}


.catalog {
	margin-top: 65px;
	margin-bottom: 65px;
}
.catalog.grey {
	margin-top: 65px;
	padding-top: 65px;
	padding-bottom: 65px;
	margin-bottom: 0;
	background: #f2f2f2;
}
.catalog .cat-general {
	font-size: 16px;
	line-height: 1.7;
	margin-bottom: 45px;
	text-align: center;
}

.catalog .container {

}
.catalog h3 {
	font-weight: bold;
	margin-bottom: 40px;
}
.catalog .ico-link-container {
	padding-top: 25px;
}
.catalog .container .item {
	margin-bottom: 20px;
}
.catalog .inner {
	position: relative;
	border: 1px solid #ededed;
	background: #ffffff;
}
.catalog .img {
	margin-bottom: 13px;
}
.catalog img {
	width: 100%;
	display: block;
}
.catalog .text {
	padding-bottom: 15px;
	text-align: center;
}
.catalog .cat-size {
	font-size: 16px;
	padding-bottom: 5px;
}
.catalog .cat-type {
	font-size: 16px;
	padding-bottom: 13px;
}
.catalog .cat-price {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 15px;
}
.catalog .cat-price sup {
	font-size: 10px;
}
.catalog .cat-den,
.catalog .cat-therm {
	color: #989898;
	font-size: 14px;
	padding-bottom: 3px;
}

.num-wrap {
	display: inline-block;
	width: 60px;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	background: #f2f2f2;
}
.num-wrap input {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	background: none;
	color: #191919;
}
.cart-add {
	position: relative;
	width: 30px;
	height: 30px;
	background: #fdb813;
	cursor: pointer;
}
.cart-add .ico {
	position: absolute;
	width: 15px;
	height: 13px;
	top: 9px;
	left: 7px;
	transform: translateZ(0px);
}
.cart-add .ico:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 15px;
	height: 13px;
	margin: auto;
}
.cart-add .ico:before {
	background: url(../images/cart-white.svg) no-repeat;
}
.catalog .add {
	position: relative;
	margin-bottom: 15px;
	text-align: center;
	white-space: nowrap;
}
.catalog .add .num-wrap {
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	margin-right: 7px;
	width: 40px;
}
.catalog .add .num-wrap input {
	height: 30px;
	line-height: 30px;
}
.catalog .add .cart-add {
	display: inline-block;
	vertical-align: middle;
}
@media screen and (min-width: 640px) {
	.catalog .add .num-wrap {
		width: 60px;
	}
}
.catalog .add {
	position: relative;
}
.catalog .add .added-text {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}
.catalog .add .added-text a {
	position: relative;
	top: 2px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #191919;
	border-bottom: 1px solid #7f7f7f;
	transition: all 0.3s;
}
.catalog .add .added-text a:hover {
	color: #fdb813;
	border-bottom: 1px solid transparent;
	transition: all 0.2s;
}
.catalog .add .num-wrap,
.catalog .add .cart-add {
	position: relative;
	transition: all 0.3s;
	z-index: 1;
}
.catalog .add.added .num-wrap,
.catalog .add.added .cart-add {
	transform: translateX(30px);
	opacity: 0;
	pointer-events: none;
	z-index: 0;
}
.catalog .add .added-text {
	opacity: 0;
	transform: translateX(-30px);
	transition: all 0.3s;
}
.catalog .add.added .added-text {
	opacity: 1;
	transform: translateX(0px);
	z-index: 5;
}

.action {
	position: relative;
	height: 500px;
	background: #f2f2f2;
}
.action img {
	width: 100%;
	display: block;
}
.action .img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}
@media screen and (min-width: 1000px) {
	.action {
		height: 600px;
	}
}

.narrow .wrapper {
	max-width: 880px;
}
@media screen and (min-width: 640px) {
	.narrow .wrapper {
		width: calc(100% - 180px)
	}
}

.buy {
	padding-top: 70px;
	margin-bottom: 70px;
}
.general {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 30px;
}
.icons-list {
	margin-top: 50px;
}
.icons-list li {
	position: relative;
	margin-bottom: 28px;
	text-align: center;
}
.icons-list li h4.entities:after {
	content: " (только для юр. лиц)";
	font-size: 16px;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0;
	color: #1a1a1a;
}
.icons-list li .desc {
	color: #7f7f7f;
}
.icons-list li p {
	margin-right: 0;
	line-height: 1.75;
}
.icons-list .ico {
	margin: 0 auto 20px;
}
@media screen and (min-width: 640px) {
	.icons-list li {
		position: relative;
		padding-left: 90px;
		text-align: left;
	}
	.icons-list .ico {
		position: absolute;
		left: 12px;
		top: 5px;
	}
}
.icons-list .ico.i1 {
	width: 50px;
	height: 36px;
	background: url(../images/payment-1.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i2 {
	width: 50px;
	height: 42px;
	background: url(../images/payment-2.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i3 {
	width: 50px;
	height: 40px;
	background: url(../images/payment-3.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i4 {
	width: 50px;
	height: 33px;
	background: url(../images/payment-4.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i5 {
	width: 50px;
	height: 34px;
	background: url(../images/delivery-1.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i6 {
	width: 50px;
	height: 44px;
	background: url(../images/delivery-2.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i7 {
	width: 50px;
	height: 50px;
	background: url(../images/multi-1.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i8 {
	width: 50px;
	height: 43px;
	background: url(../images/multi-2.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i9 {
	width: 50px;
	height: 48px;
	background: url(../images/multi-3.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i10 {
	width: 50px;
	height: 48px;
	background: url(../images/multi-4.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i11 {
	width: 50px;
	height: 54px;
	background: url(../images/multi-5.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i12 {
	width: 50px;
	height: 42px;
	background: url(../images/multi-6.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.icons-list .ico.i13 {
	width: 50px;
	height: 44px;
	background: url(../images/multi-7.svg) no-repeat;
	background-position: center;
	background-size: auto 100%;
}



.galery {
	margin-top: 45px;
	margin-left: -30px;
}
.galery .item {
	width: 100%;
	padding-left: 30px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
.galery .item .inner {
	position: relative;
}
.galery .item .inner:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 8px;
	top: 8px;
	background: #f2f2f2;
}
.galery img {
	position: relative;
	display: block;
	width: 100%;
	z-index: 1;
}
@media screen and (min-width: 640px) {
	.galery {
		margin-bottom: -30px;
	}
	.galery .item {
		float: left;
	}
	.galery .item:nth-child(6n+1) {
		width: 60%;
	}
	.galery .item:nth-child(6n+2) {
		width: 40%;
	}
	.galery .item:nth-child(6n+4) {
		width: 40%;
	}
	.galery .item:nth-child(6n+5) {
		width: 60%;
	}
}

.buy h3 {
	margin-top: 40px;
	margin-bottom: 27px;
}
.buy .icons-list {
	margin-top: 27px;
}
.delivery {
	padding-top: 60px;
	padding-bottom: 45px;
	background: #f2f2f2;
}
.delivery .del-general {
	font-size: 16px;
	line-height: 1.7;
}


.project-slider .slider {
	height: 500px;
}
.project-slider .img-wrap {
	background: #ececec;
}
.project-slider .img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}
.project-slider img {
	display: block;
	height: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 640px) {
	.project-slider .slider {
		height: 600px;
	}
}
.slider-popup {
	pointer-events: auto !important;
}
.slider-popup .slider-outer {
	height: 100%;
}
.slider-popup .project-slider .slider {
	height: 100%;
}
@media screen and (min-width: 640px) {
	.slider-popup .project-slider .slider {
		height: 100%;
	}
}

.project-specs {
	margin-bottom: 55px;
}
.project-specs ul {
}
.project-specs li {
	padding: 10px 0 10px 30px;
}
.project-specs li sup {
	position: relative;
	vertical-align: top;
	font-size: 10px;
}
.project-specs li:nth-child(2n+1) {
	background: #f2f2f2;
}
.project-specs .nm {
	font-size: 12px;
	color: #7f7f7f;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.project-specs .val {
	font-size: 16px;
}

.project-plans {
	margin-bottom: 60px;
}
.project-plans .inner {
	position: relative;
	border: 1px solid #ededed;
	box-shadow: 0 0 0px 0 #d9d9d9;
	cursor: pointer;
}
.project-plans .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	background: #ffffff;
}
.project-plans img {
	width: 100%;
	display: block;
}
.project-plans .inner .overlay {}
.project-plans .inner:before {
	content: "";
	position: absolute;
	right: -1px;
	bottom: -1px;
	width: 30px;
	height: 30px;
	background: #fdb813;
	z-index: 2;
}
.project-plans .inner:after {
	content: "";
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 14px;
	height: 14px;
	background: url(../images/zoom.svg) no-repeat;
	z-index: 3;
}
.project-plans .inner {
	transition: all 0.3s;
}
.project-plans .inner:hover {
	box-shadow:  0 0 9px 0 #d9d9d9;
}
.project-plans .overlay {
	transition: all 0.3s;
}
.project-plans .inner:hover .overlay {
	opacity: 0.4;
}
.project-plans .container {
	margin-bottom: 15px;
}
.btn-wrapper {
	text-align: center;
}
.btn {
	position: relative;
	display: inline-block;
	padding-top: 21px;
	padding-bottom: 21px;
	width: 360px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	cursor: pointer;
	text-align: center;
	border: 1px solid #fdb813;
	overflow: hidden;
}
.btn span {
	position: relative;
	z-index: 2;
}
.btn:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #fdb813;
	transition: all 0.5s;
}
.btn:hover:before {
	transition: all 0.25s;
}
.btn.white:before {

	transform: translateX(-100%);
}
.btn:hover:before {
	transform: translateX(100%);
}
.btn.white:hover:before {
	transform: translateX(0%);
}

.projects.grey {
	padding-top: 75px;
	margin-bottom: 0;
	background: #f2f2f2;
	overflow: hidden;
}

article {
	margin-top: 60px;
	margin-bottom: 35px;
}
article.grey {
	padding-top: 80px;
	padding-bottom: 70px;
	background: #f2f2f2;
}
article .wrapper *:first-child {
	margin-top: 0 !important;
}
article .wrapper *:last-child {
	margin-bottom: 0 !important;
}
article >img,
article .wrapper>img {
	display: block;
	max-width: 100%;

	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 640px) {
	article>img,
	article .wrapper>img {
		max-width: calc(100% - 60px);
		margin-left: auto;
		margin-right: auto;

	}
}


article h1 {
	margin-top: 60px;
	margin-bottom: 53px;
}
article h2 {
	margin-top: 60px;
	margin-bottom: 40px;
}
article h3 {
	margin-top: 60px;
	margin-bottom: 35px;
}
article h4 {
	margin-top: 60px;
	margin-bottom: 30px;
}
article h5 {
	margin-top: 60px;
	margin-bottom: 25px;
}
article h6 {
	margin-top: 60px;
	margin-bottom: 17px;
}
article blockquote {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 30px;
}
article p {
	line-height: 1.7;
	font-size: 16px;
	margin-top: 27px;
	margin-bottom: 27px;
}
article p strong {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.05em;
}
article ul {
	margin-top: 17px;
	margin-bottom: 63px;
}
article ul li {
	position: relative;
	font-size: 16px;
	margin-bottom: 17px;
	padding-left: 40px;
	line-height: 1.5;
}
article ul li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 6px;
	height: 6px;
	background: #cccccc;
}

section.pt30 {
	padding-top: 30px;
}

.return {
	text-align: center;
	background: #f2f2f2;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer {
	position: absolute;
	right: 0;
	left: 0px;
	bottom: 0;
	height: 60px;
	text-align: center;
	z-index: 2;
	background: #ffffff;
	will-change: transform;
}
footer .cr {
	padding-top: 24px;
	font-size: 12px;
	color: #0c0c0c;
}
@media screen and (min-width: 640px) {
	.contacts-page footer {
		position: fixed;
	}
}
@media screen and (min-width: 1000px) {
	footer {
		left: 250px;
	}
}

.multipor {
	margin-bottom: 95px;
}
.multipor .ico-link-container {
	text-align: left;
	margin-top: 25px;
	margin-bottom: 80px;
}

.order {
	padding-top: 60px;
	margin-bottom: 50px;
}
.order h1 {
	margin-bottom: 50px;
}
.order .order-inner {
	margin: 0 auto;
	max-width: 300px;
}
.order .legend {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-bottom: 1px solid #f2f2f2;
	display: none;
	background: #ffffff;
}
.order .order-wrapper {
	width: calc(100% - 30px);
	margin: 0 auto;
}
.order .legend .row {
	padding-top: 25px;
	padding-bottom: 20px;
}
.order .row {
	position: relative;
}
.order .order-items .item {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;
	background: #ffffff;
	transition: all 0.3s;
}
.order .order-items .item.removing {
	transform: scale(0.95);
	opacity: 0;
}
.order .r1 {
	padding-bottom: 20px;
}
.order .r2 {
	text-align: center;
	padding-bottom: 20px;
}
.order .r3 {
	text-align: center;
}

@media screen and (min-width: 640px) {
	.order .order-items .item.removing {
		transform: translateX(30px);
		opacity: 0;
	}
	.order .order-inner {
		max-width: 100%;
	}
	.order .order-wrapper {
		width: calc(100% - 60px);
	}
	.order .legend {
		display: block;
	}
	.order .row {
		float: left;
	}

	.order .r1 {
		text-align: left;
		padding-top: 10px;
		padding-bottom: 15px;
		width: 58%;
	}
	.order .r2 {
		text-align: left;
		padding-top: 25px;
		width: 21%;
	}
	.order .r3 {
		text-align: left;
		position: static;
		padding-top: 35px;
		width:  21%;
	}
	.order .order-items .item {
		min-height: 100px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media screen and (min-width: 1000px) {
	.order .order-wrapper {
		width: calc(100% - 120px);
	}
	.order .r1 {
		width: 63%;
	}
	.order .r3 {
		width:  16%;
	}
}

.order .img {
	position: relative;
	width: 90px;
	height: 90px;
	margin: 0 auto 20px;
}
.order .img img {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.order .nfo {
	text-align: center;
	margin-right: 15px;
}
.order .nfo .nm {
	font-size: 16px;
	margin-bottom: 4px;
}
.order .nfo .tp {
	font-size: 16px;
	margin-bottom: 5px;
}
.order .nfo .pr {
	font-weight: bold;
}
.order sup {
	position: relative;
	left: -3px;
	vertical-align: top;
	font-size: 8px;
}

.order .price-total {
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;
}
@media screen and (min-width: 640px) {
	.order .img {
		position: absolute;
		padding: 0;
		top: 0px;
		left: 0;
		width: 90px;
		height: 90px;
	}
	.order .nfo {
		text-align: left;
		margin-right: 15px;
		padding-left: 125px;
	}
}
.order .delete {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 45px;
	height: 45px;
	cursor: pointer;
	z-index: 10;
}
.order .delete .del-inner {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15px;
	height: 15px;
	margin: auto;
}
.order .delete .bar {
	position: absolute;
	width: 15px;
	height: 3px;
	top: 6px;
	background: #191919;
	transition: all 0.2s;
}
.order .delete .bar.b1 {
	transform: rotate(45deg);
}
.order .delete .bar.b2 {
	transform: rotate(-45deg);
}
.order .delete:hover .bar.b1 {
	transform: rotate(45deg) scaleX(1.3);
}
.order .delete:hover .bar.b2 {
	transform: rotate(-45deg) scaleX(1.3);
}
@media screen and (min-width: 640px) {
	.order .delete {
		top: 32px;
		right: 10px;
	}
}
@media screen and (min-width: 640px) {
	.order .delete {
		right: 15px;
	}
}
.order-submit {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #ffffff;
}
.order-submit .btn {
	width: auto;
	width: 275px;
	max-width: 100%;
}
.order-submit .r1 {
	text-align: center;
	padding-bottom: 28px;
}
.order-submit .r2 {
	padding-bottom: 30px;
	text-align: center;
}
.order-submit .r3 {
	white-space: nowrap;
}
.order-submit .price-all .tx {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #808080;
}
.order-submit .price-all .nm {
	font-size: 24px;
	font-weight: bold;
}
@media screen and (min-width: 640px) {
	.order-submit {
		padding-top: 0;
		padding-bottom: 0;
	}
	.order-submit .btn {
		width: 200px;
	}
	.order-submit .r1 {
		text-align: left;
		padding-top: 40px;
		width: 30%;
	}
	.order-submit .r2 {
		text-align: left;
		padding-top: 20px;
		width: 49%;
	}
	.order-submit .r3 {
		text-align: left;
		padding-top: 20px;
		width: 21%;
	}
}
@media screen and (min-width: 1000px) {
	.order-submit .btn {
		width: 275px;
	}
	.order-submit .r1 {
		width: 27%;
	}
	.order-submit .r2 {
		text-align: left;
		width: 57%;
	}
	.order-submit .r3 {
		width: 16%;
	}
}
@media print {
	main {
		padding-top: 0;
	}
	header {
		display: none;
	}
	.order-submit .r1,
	.order-submit .r2 {
		display: none;
	}
}

.popup-overlay {
	position: fixed;
	width: 0;
	opacity: 0;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 900;
	background: #000000;
	overflow: hidden;
}
.popup {
	position: fixed;
	width: 0;
	opacity: 0;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #ffffff;
	overflow: hidden;
	pointer-events: none;
}
.popup .wrapper {
	pointer-events: auto;
	transition: all 0.4s;
	transform: translateY(-20px);
}
.popup {

	transform: translateZ(0px);
	transition: opacity 0.3s ease 0s, width 0s linear 0.3s;
}
.popup-overlay {
	transform: translateZ(0px);
	transition: opacity 0.4s ease 0.2s, width 0s linear 0.6s;
}
.popup.active,
.popup-overlay.active {
	width: 100%;
	opacity: 1;
	transition: opacity 0.2s ease 0s, width 0s linear 0s;
}
.popup.active .wrapper {
	transition: all 0.3s;
	transform: translateY(0px);
}
.popup-overlay.active {
	opacity: 0.85;
}
.popup .popup-outer {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.popup .popup-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
}
.popup .popup-cell {
    display: table-cell;
    vertical-align: middle;
}
.popup .wrapper {
	position: relative;
	width: calc(100% - 60px);
	max-width: 600px;
	margin: 0 auto;
}
.popup .close {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
	background: #fdb813;
	cursor: pointer;
	z-index: 10;
}
.popup .form-wrapper {
	padding-top: 90px;
	padding-bottom: 40px;
	margin: 0 auto;
	background: #ffffff;
	text-align: center;
}
@media screen and (min-width: 640px) {
	.popup .close {
		right: -60px;
		top: -60px;
	}
	.popup .close.corner {
		right: 0;
		top: 0;
	}
	.popup {
		background: none;
	}
	.popup .wrapper {
		position: relative;
		width: calc(100% - 180px);
		max-width: 600px;
		margin: 0 auto;
	}
}
.close .bars {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: translateZ(0px);
}
.close .bars .b {
	position: absolute;
	top: 6px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #191919;
	transition: all 0.2s;
}
.close .bars .b1 {
	transform: rotate(45deg);
}
.close .bars .b2 {
	transform: rotate(-45deg);
}
.close:hover .bars .b1 {
	transform: rotate(45deg) scaleX(1.3);
}
.close:hover .bars .b2 {
	transform: rotate(-45deg) scaleX(1.3);
}


.form-wrapper .nm {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 63px;
}
.form-wrapper form {
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 640px) {
	.form-wrapper form {
		width: calc(100% - 60px);
	}
}

form .ln {
	margin-bottom: 40px;
}
form .input-wrapper,
form .select-wrapper {
	display: block;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: 1px solid #d9d9d9;
	font-size: 16px;
	color: #808080;
	cursor: text;
	transition: all 0.2s;
}
form .input-wrapper.focus {
	border-bottom: 1px solid #fdb813;
}
form .input-placeholder,
form .select-display {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 40px;
	transition: all 0.2s;
}
form .input-wrapper.focus .input-placeholder {
	opacity: 0;
}
form .select-display {
	color: #191919;
}
form .select-display:before {
	content: "";
	position: absolute;
	width: 11px;
	height: 7px;
	right: 10px;
	top: 17px;
	background: url(../images/select.svg) no-repeat;
}

form input.text {
	display: block;
	width: 100%;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	background: none;
	text-align: center;
}
form .submit-line {
	display: block;
	margin-top: 50px;
}

form .select-wrapper {
	height: 40px;
	position: relative;
	padding-left: 0;
	padding-right: 0;
}
form .submit-line {
	position: relative;
	border: 1px solid #fdb813;
	overflow: hidden;
}
form .submit-line:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #fdb813;
	transition: all 0.5s;
}
form .submit-line:hover:before {
	transition: all 0.25s;
	transform: translateX(100%);
}
form input.submit {
	position: relative;
	display: block;
	width: 100%;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 58px;
	height: 58px;
	background: none;
	text-align: center;
	cursor: pointer;
	z-index: 1;
}
form select {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	z-index: 1;
}
form option {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 16px;
}
/*.cssanimations main {
	transition: opacity 0.2s;
	opacity: 0;
}
.cssanimations footer {
	transition: opacity 0.2s ease 0.3s;
	opacity: 0;
}
.cssanimations .load-complete main {
	opacity: 1;
}
.cssanimations .load-complete footer {
	opacity: 1;
}*/
.map-section {
	position: relative;
	width: 100%;
	height: 200px;
	margin-top: 76px;
}
@media screen and (min-width: 640px) {
	.map-section {
		position: fixed;
		margin-top: 0;
		width: 50%;
		height: auto;
		left: 0px;
		top: 100px;
		bottom: 60px;
		z-index: 4;
		trnasform: translateZ(0px);
	}
}
@media screen and (min-width: 1000px) {
	.map-section {
		top: 0;
		width: calc(50% - 125px);
		left: 250px;
		trnasform: translateZ(0px);
	}
}
.map-section .map {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	top: 0;
	background: #f2f2f2;
}
.contacts {
	background: #ffffff;
}

.contact {
	margin-left: 0px;
}
.contact .nm {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	color: #0c0c0c;
	margin-bottom: 32px;
	font-weight: bold;
}
.contact .nm.drop-down-control {
	display: inline-block;
	border-bottom: 1px solid #e6e6e6;
	transition: all 0.2s;
}

.contact .nm.drop-down-control:hover,
.contact .nm.drop-down-control.active {
	border-bottom: 1px solid transparent;
}
@media screen and (min-width: 640px) {
	.contact .nm {
		font-size: 40px;
		font-weight: bold;
	}
	.contacts .right {
		margin-top: 0;
		width: 50%;
		padding-top: 65px;
		float: right;
	}
	.contact {
		margin-left: 50px;
	}
}
.contact .phones {
	margin-bottom: 30px;
}
.contact .phones .item {
	margin-bottom: 5px;
}
.contact .phones a {
	font-size: 24px;
	font-weight: bold;
	color: #191919;
}
.contact .mail {
	margin-bottom: 30px;
}
.contact .mail a {
	font-size: 18px;
	color: #191919;
}
.contact .addr {
	color: #7f7f7f;
	line-height: 1.75;
	margin-bottom: 43px;
}
.contact .route-link-container {
	padding-bottom: 30px;
}
.contact article {
	margin-top: 0;
	padding-bottom: 50px;
}
.contact article *:first-child {
	margin-top: 0 !important;
}
.contact article *:last-child {
	margin-bottom: 0 !important;
}

.drop-down-container {
	overflow: hidden;
	height: 0;
	transition: height 0.3s;
}
.drop-down-inner {
	overflow: hidden;
}
.drop-down-container.active {
	height: auto;
}
.drop-down-container.initialized {

}
.drop-down-control {
	cursor: pointer;
}


.service {
	padding-top: 70px;
	padding-bottom: 30px;
}
.service.grey {
	background: #f2f2f2;
}
.service .img {
	width: calc(100% - 100px);
	margin-bottom: 45px;
}
.service-img {
	position: relative;
}
.service-img .img-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}
.service-img .img-true {
	position: absolute;
	height: 100%;
	width: auto;
}
.service-img:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 7px;
	top: 7px;
	background: #f2f2f2;
	z-index: 1;
}
.grey .service-img:before {
	background: #e6e6e6;
}
.service-img .num {
	position: absolute;
	top: 50%;
	right: -88px;
	font-size: 90px;
	font-weight: bold;
	font-family: 'Roboto Slab', sans-serif;
	color: #fdb813;
	line-height: 1;
	z-index: 0;
	transform: translateY(-45px);
}
.service:nth-of-type(1) .service-img .num {
	right: -70px;
}
.service-img img {
	position: relative;
	width: 100%;
	display: block;
	z-index: 2;
}
.csstransitions .service .img.triggerable .num {
	opacity: 0;
	transform: translateY(-25px);
	transition: all 0.6s;
}
.csstransitions .service .img.triggerable .img-wrap {
	width: 0;
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99) 0.45s;
}
.csstransitions .service .img.triggerable:before {
	width: 0;
	transition: all 0.6s cubic-bezier(0.4, 0, 0, 0.99);
}
.csstransitions .service .img.triggerable.triggered-once .num {
	opacity: 1;
	transform: translateY(-45px);
}
.csstransitions .service .img.triggerable.triggered-once .img-wrap {
	width: 100%;
}
.csstransitions .service .img.triggerable.triggered-once:before {
	width: 100%;
}


.service h3 {
	font-weight: bold;
	text-align: left;
	margin-bottom: 25px;
}
.service article {
	margin-top: 30px;
}
.service .ico-link-container {
	text-align: left;
	margin-top: 7px;
	margin-bottom: 35px;
}
.service .btn {
	width: 280px;
	margin-bottom: 55px;
	max-width: 100%;
}
@media screen and (min-width: 640px) {
	.service .img {
		width: 58%;
	}
}



/*.master {
	background: #f2f2f2;
}
.master .img .num {
	right: -5px;
}*/

/*@media screen and (min-width: 640px) {
	.master .img {
		width: 58%;
	}
	.master .img .num {
		right: -27px;
	}
}
.type-project h5 {
	margin-bottom: 50px;
}
.type-project .consult {
	font-size: 16px;
	line-height: 1.7;
	margin-bottom: 30px;
}*/
.ico-line {
	margin-left: -30px;
	margin-bottom: 35px;
}
.ico-line .item {
	position: relative;
	padding-left: 30px;
	margin-bottom: 30px;
}
.ico-line .inner {
	padding-top: 65px;
	position: relative;
}
.ico-line .item .ico {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}
.ico-line .item .ico.i1 {
	width: 62px;
	height: 40px;
	background: url(../images/type-1.svg) no-repeat;
}
.ico-line .item .ico.i2 {
	top: -1px;
	width: 46px;
	height: 41px;
	background: url(../images/type-2.svg) no-repeat;
}
.ico-line .item .ico.i3 {
	top: -3px;
	width: 46px;
	height: 45px;
	background: url(../images/type-3.svg) no-repeat;
}
.ico-line .text {
	line-height: 1.5;
	color: #7f7f7f;
}
.ico-line .item:nth-child(1):before,
.ico-line .item:nth-child(2):before {
	content: "";
	position: absolute;
	right: 10%;
	top: 15px;
	width: 30%;
	height: 7px;
	background: url(../images/long-arrow.svg) no-repeat;
	background-size: auto 100%;
	background-position: 100% 0;
	display: none;
}
.ico-line a {
	color: #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	transition: all 0.2s;
}
.ico-line a:hover {
	color: #fdb813;
	border-bottom: 1px solid transparent;
}
@media screen and (min-width: 640px) {
	.ico-line .item .ico {
		left: 0;
		right: auto;
	}
	.ico-line .item {
		padding-left: 30px;
		width: 33.3%;
		float: left;
		box-sizing: border-box;
	}
	.ico-line .item:nth-child(1):before,
	.ico-line .item:nth-child(2):before {
		display: block;
	}
}
/*.calculator {
	background: #f2f2f2;
}*/

/*@media screen and (min-width: 640px) {
	.calculator {
		padding-top: 87px;
	}
	.calculator .img {
		position: absolute;
		bottom: -30px;
		top: auto;
		right: -220px;
		height: auto;
		width: auto;
		margin-bottom: 0;
	}
	.calculator .num {
		left: -7px;
		right: auto;
		bottom: -17px;
	}
	.calculator .service-text {
		margin-right: 220px;
	}
	.calculator .wrapper {
		min-height: 285px
	}
}
*/
.video-popup {
	background: #000000;
	transform: translateZ(0px);
	pointer-events: auto;
}
.video-popup .iframe-wrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	width: auto;
	transform: translateZ(0px);
	overflow: hidden;
}
.video-popup iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.catalog-download {
	position: relative;
	height: 180px;
	overflow: hidden;
}
.catalog-download:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background: #000000;
	opacity: 0.4;
}
.catalog-download .img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
}
.catalog-download .dw-link {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}
.catalog-download .ico-link-container {
	display: block;
	padding-top: 85px;
}

.csstransitions .appear-up {
	transition: all 0.6s;
	opacity: 0;
	transform: translateY(20px);
}
.csstransitions .appear-up.triggered-once {
	opacity: 1;
	transform: translateY(0px);
}