* {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
}
li {
	list-style: none outside none;
}
html, body {
	border: 0 none;
}
html {
	height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 14px;
	color: #7f7f7f;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Proxima Nova', sans-serif;
	background: #ffffff;
}

input {
	-webkit-appearance: none;
}
body.prevent-scroll {
	overflow: hidden;
}
a {
	text-decoration: none;
}
.page-wrapper {
	position: relative;
	overflow: hidden;
	min-width: 320px;
}

.show320 {
	display: block !important;
}
.show640 {
	display: none !important;
}
.show320.show640 {
	display: block !important;
}
.show1000 {
	display: none !important;
}
.show640.show1000 {
	display: none !important;
}
span.show320 {
	display: inline !important;
}
span.show640 {
	display: none !important;
}
span.show320.show640 {
	display: inline !important;
}
span.show1000 {
	display: none !important;
}
span.show640.show1000 {
	display: none !important;
}
@media screen and (min-width: 640px) {
	.show320 {
		display: none !important;
	}
	.show320.show640 {
		display: block !important;
	}
	.show640 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320 {
		display: none !important;
	}
	span.show320.show640 {
		display: inline !important;
	}
	span.show640 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}
@media screen and (min-width: 1000px) {
	.show320.show640 {
		display: none !important;
	}
	.show640 {
		display: none !important;
	}
	.show1000 {
		display: block !important;
	}
	.show640.show1000 {
		display: block !important;
	}
	span.show320.show640 {
		display: none !important;
	}
	span.show640 {
		display: none !important;
	}
	span.show1000 {
		display: inline !important;
	}
	span.show640.show1000 {
		display: inline !important;
	}
}

header {
	position: fixed;
	width: 100%;
	height: 76px;
	background: #ffffff;
	color: #0c0c0c;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	z-index: 100;
	min-width: 320px;
	transform: translateZ(0px);
}
header .logo {
	display: block;
	width: 76px;
	height: 76px;
	background: url(../images/logo.svg);
	background-size: 100%;
}
header nav {
	display: none;
	text-align: center;
	margin-bottom: 90px;
}
header nav .item {
	padding-bottom: 18px;
}
header nav a {
	color: #0c0c0c;
	font-size: 18px;
	font-weight: 300;
}
header .basket {
	position: absolute;
	right: 5%;
	top: 15px;
}
header .basket a {
	color: #0c0c0c;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
header .phone {
	position: absolute;
	right: 5%;
	top: 40px;
}
header .phone a {
	color: #0c0c0c;
	font-size: 18px;
	font-weight: 600;
}
header .callback {
	display: none;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
header .menu-btn {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 15px;
	left: 95px;
}
header .menu-btn .b {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #0c0c0c;
	display: none;
}
header .menu-btn .b1 {
	display: block;
	top: 2px;
}
header .menu-btn .b2 {
	display: block;
	top: 10px;
}
header .menu-btn .b3 {
	display: block;
	top: 18px;
}
header .menu-btn .inner {
	width: 25px;
	height: 23px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}
@media screen and (min-width: 640px) {
	header {
		height: 100px;
	}
	header .menu-btn {
		top: 27px;
		left: 127px;
	}
	header .logo {
		width: 100px;
		height: 100px;
	}
	header .basket {
		position: absolute;
		right: 5%;
		margin-right: 190px;
		top: 42px;
	}
	header .phone {

	}
}
@media screen and (min-width: 1000px) {
	header .menu-btn {
		display: none;
	}
	header {
		position: fixed;
		width: 250px;
		height: 100%;
		left: 0;
		top: 0;
		text-align: center;
	}
	header .logo {
		margin: 45px auto 42px;
	}
	header nav {
		display: block;
	}
	header .basket {
		bottom: 145px;
		right: 0;
		top: auto;
		margin: 0;
		width: 100%;
	}
	header .phone {
		bottom: 75px;
		right: 0;
		width: 100%;
		top: auto;
		margin: 0px;
	}
	header .callback {
		position: absolute;
		width: 100%;
		bottom: 50px;
		display: block;
		margin: 0;
	}
}
main {
	margin-top: 75px;
}
main,
footer {
	margin-left: 0px;
}
@media screen and (min-width: 640px) {
	main {
		margin-top: 100px;
	}
}
@media screen and (min-width: 1000px) {
	main,
	footer {
		margin-left: 250px;
	}
}


.mobile-menu {
	padding-top: 76px;
}
.mobile-menu .item {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	text-align: center;
}
.mobile-menu .item a {
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #0c0c0c;
	font-size: 18px;
	font-weight: 300;
}

header nav {
	display: none;
	text-align: center;
	margin-bottom: 90px;
}
header nav .item {
	padding-bottom: 18px;
}
header nav a {
	color: #0c0c0c;
	font-size: 18px;
	font-weight: 300;
}

main {
	position: relative;
}
.lines-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	max-width: 1090px;
	margin: 0 auto;
}
.lines-bg .l {
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
	background: #ebebeb;
}
.lines-bg .l1 {
	left: 14%; 
}
.lines-bg .l2 {
	left: 50%;
}
.lines-bg .l3 {
	right: 14%;
}
main section {
	position: relative;
	z-index: 2;
}
.wrapper {
	position: relative;
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
@media screen and (min-width: 1000px) {
	.wrapper {
		width: 92%;
	}
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #0c0c0c;
	margin-bottom: 32px;
}
@media screen and (min-width: 640px) {
	h2 {
		font-size: 40px;
	}
}
h6 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	color: #0c0c0c;
}
p {
	line-height: 1.5;
	margin-right: 10%;
	margin-bottom: 10px;
}
p a {
	color: #fdb813;
}

.more-link {
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
	color: #0c0c0c;
	letter-spacing: 0.05em;
	padding-left: 40px;
}
.more-link .arrow {
	position: absolute;
	left: 0;
	top: 2px;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
.more-link .tx {
	position: relative;
}
.more-link .tx .a {
	position: absolute;
	left: 0;
	top: 0;
	color: #fdb813;
	background: #ffffff;
	overflow: hidden;
}
.more-link .tx span {
	white-space: nowrap;
}
.more-link .arrow .y,
.more-link .arrow .b {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	will-change: transform;
}
.more-link .arrow .y:before,
.more-link .arrow .b:before {
	content: "";
	position: absolute;
	width: 30px;
	height: 2px;
	top: 4px;
	right: 2px;
	background: #fdb813;
}
.more-link .arrow .b:before {
	background: #0c0c0c;
}
.more-link .arrow .y:after,
.more-link .arrow .b:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 7px;
	height: 10px;
	background: url(../images/arr-end-right-yellow.svg);
	background-size: 100%;
}
.more-link .arrow .b:after {
	background: url(../images/arr-end-right-black.svg);
	background-size: 100%;
}
.more-link .arrow .y,
.more-link .arrow .b {
	transition: transform 0.3s;
}
.more-link:hover .arrow .y,
.more-link:hover .arrow .b {
	transition: transform 0.5s;
}
.more-link .arrow .b {
	transform: translateX(-50px);
}
.more-link:hover .arrow .b {
	transform: translateX(0px);
}
.more-link:hover .arrow .y {
	transform: translateX(50px);
}
.more-link .tx .a {
	width: 0;
	transition: width 0.3s;
}
.more-link:hover .tx .a {
	width: 100%;
	transition: width 0.4s ease 0.2s;
}

.clear {
	clear: both;
}
.home {
	margin-bottom: 60px;
	background: #ffffff
}
section h2 {
	text-align: center;
	margin-bottom: 45px;
}
.home h2 {
	text-align: center;
	margin-bottom: 30px;
}
.home .slider-outer {
	position: relative;
	min-height: 0px;
}
.home .slider {
	position: relative;
	width: 100%;
	height: 100%;
}
.home .slider .slide {
	min-height: 0px;
	padding-bottom: 150px;
}
.home .slider .img {
	position: absolute;
	bottom: 0;
	height: 150px;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.home .slider .wrapper {
	height: 100%;
}
@media screen and (min-width: 640px) {
	.home h2 {
		text-align: left;
	}
	.home .slider-outer {
		min-height: 445px;
	}
	.home .slider .slide {
		min-height: 445px;
		padding-bottom: 0;
	}
	.home .slider .img {
		position: absolute;
		right: 0;
		top: 0;
		width: 37.5%;
		height: 100%;
	}
}
@media screen and (min-width: 1000px) {
	.home {
		margin-bottom: 100px;
	}
	.home .slider-outer {
		min-height: 510px;
	}
	.home .slider .slide {
		min-height: 510px;
	}
}
.home .slider-arrows {
	position: absolute;
	left: 62.5%;
	bottom: 5px;
	width: 120px;
	height: 60px;
	background: #ffffff;
	z-index: 1;
	display: none;
}
@media screen and (min-width: 640px) {
	.home .slider-arrows {
		display: block;
	}
}
.slider-arrows .arrow {
	position: absolute;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.slider-arrows .arrow:before,
.slider-arrows .arrow svg {
	position: absolute;
	margin: auto;
	width: 8px;
	height: 12px;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.slider-arrows .arrow path {
	fill: #000000;
}
.slider-arrows .arrow.prev {
	top: 0;
	left: 0;
}
.slider-arrows .arrow.next {
	top: 0;
	right: 0;
}
.slider-outer .progressbar {
	position: relative;
	width: 100%;
	height: 5px;
	background: #ebebeb;
}
.slider-outer .progressbar .active {
	position: absolute;
	left: 0;
	top: 0;
	height: 5px;
	width: 30%;
	background: #fdb813;
}

.home .text {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}
.home .nfo {
	color: #0c0c0c;
	margin-bottom: 20px;
}
.home .nfo p {
	font-size: 16px;
}
.home .slider-counter {
	position: absolute;
	bottom: 25px;
	right: 5%;
	margin-left: 0;
	z-index: 2;
	color: #ffffff;
	font-size: 16;
}
.home .slider-counter .cur {
	font-weight: 600;
}
.home .slider-counter .tot,
.home .slider-counter .slash {
	font-weight: 300;
}
.home .slider-counter .slash {
	padding: 0 2px;
}
@media screen and (min-width: 640px) {
	.home .slider-counter {
		bottom: 25px;
		right: auto;
		left: 62.5%;
		margin-left: 138px;
		z-index: 2;
		color: #ffffff;
		font-size: 16;
	}
	.home .text {
		padding-top: 80px;
		padding-bottom: 50px;
		width: 60%;
	}
	.home .nfo {
		margin-bottom: 45px;
	}
}
@media screen and (min-width: 1000px) {
	.home .text {
		padding-top: 110px;
		margin-left: 4.25%;
		width: 52%;
	}
}


.production {
	margin-bottom: 85px;
}
.production .container {
	margin-bottom: 52px;
}
.production .item {
	float: left;
	width: 47.5%;
	margin-left: 5%;
	margin-bottom: 40px;
}
.production .item:nth-of-type(3n-2) {
	margin-left: 0;
}
.production .item .img {
	margin-bottom: 17px;
}
.production .item img {
	display: block;
	width: 100%;
}
@media screen and (min-width: 640px) {
	.production .item {
		width: 21.5%;
		margin-left: 4.66%;
	}
	.production .item:nth-of-type(3n-2) {
		margin-left: 4.66%;;
	}
	.production .item:nth-of-type(6n-5) {
		margin-left: 0;
	}
}
@media screen and (min-width: 1000px) {
	.production {
		margin-bottom: 85px;
	}
}
.more-link-container {
	text-align: center;
}


.projects {
	margin-bottom: 110px;
}
.projects .container {
	margin-bottom: 45px;
}
.projects .item {
	margin-bottom: 40px;
}
.projects .item:nth-of-type(3n-2) {
	margin-left: 0;
}
.projects .item .img {
	margin-bottom: 18px;
}
.projects .item img {
	display: block;
	width: 100%;
}
.projects .item .text {
	line-height: 1.5;
}
@media screen and (min-width: 640px) {
	.projects .item {
		width: 47.5%;
		margin-left: 5%;
		float: left;
	}
	.projects .item:nth-of-type(3n-2) {
		margin-left: 0;
	}
}

.features {
	text-align: center;
	margin-bottom: 15px;
}
.features .container {
}
.features .item {
	margin-bottom: 40px;
}
.features .item:nth-of-type(3n-2) {
	margin-left: 0;
}
.features .ico {
	position: relative;
	height: 70px;
	margin-bottom: 5px;
}
.features .ico .inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.features .ico.i1 .inner {
	width: 79px;
	height: 57px;
	background: url(../images/features-i1.svg);
	background-repeat: no-repeat;
}
.features .ico.i2 .inner {
	width: 38px;
	height: 60px;
	background: url(../images/features-i2.svg);
	background-repeat: no-repeat;
}
.features .ico.i3 .inner {
	width: 60px;
	height: 47px;
	background: url(../images/features-i3.svg);
	background-repeat: no-repeat;
}
.features .ico.i4 .inner {
	width: 54px;
	height: 54px;
	background: url(../images/features-i4.svg);
	background-repeat: no-repeat;
}
.features .ico.i5 .inner {
	width: 60px;
	height: 56px;
	background: url(../images/features-i5.svg);
	background-repeat: no-repeat;
}
.features .ico.i6 .inner {
	width: 80px;
	height: 58px;
	background: url(../images/features-i6.svg);
	background-repeat: no-repeat;
}
.features p {
	margin-right: 0;
	line-height: 1.75;
}
@media screen and (min-width: 640px) {
	.features .item {
		width: 47.5%;
		margin-left: 5%;
		float: left;
		margin-bottom: 40px;
	}
}


.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: 100;
	display: none;
}
.popup.active {
	display: block;
}
.popup .popup-outer {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.popup .popup-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
}
.popup .popup-cell {
    display: table-cell;
    vertical-align: middle;
}

footer {
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
	background: #ebebeb;
}
footer .cr {
	font-size: 12px;
	color: #0c0c0c;
}